output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "%{type}-%{+YYYY.MM.dd}"
    user => {{ logstash_elasticsearch_user }}
    password => "{{ logstash_elasticsearch_password }}"
  }
}
